.quoteTable {
    margin: auto auto;
    align-items: boxed;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.quoteMod {

    width: 220px;
    height: 150px;
    
    text-align: center;
    border: 5px solid rgb(77, 77, 77);
    position: relative;
    display: flex;
}

body {
    background-color: rgb(0, 0, 0);
}

h4 {
    color:rgb(155, 165, 175);
}

.edu {
    font-size: 30pt;
    font-weight: 400;
    color:rgb(203, 204, 166);
}

p {
    color:rgb(155, 165, 175);
}

li {
    color:rgb(155, 165, 175);
}
