.quoteTable {
    margin: auto auto;
    align-items: boxed;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.quoteMod {

    width: 220px;
    height: 150px;
    
    text-align: center;
    border: 5px solid rgb(77, 77, 77);
    position: relative;
    display: flex;
}

body {
    background-color: rgb(0, 0, 0);
}

h4 {
    color:rgb(155, 165, 175);
}

.edu {
    font-size: 30pt;
    font-weight: 400;
    color:rgb(203, 204, 166);
}

p {
    color:rgb(155, 165, 175);
}

li {
    color:rgb(155, 165, 175);
}

#table-container {
    width: 80%;
    margin: auto 35%;
    align-self: center;
}

#table-container #key{
    font-size: 25px;
    color: rgb(219, 245, 245);
    width: 85px;
}

#table-container td{
    font-size: 25px;
    color: rgb(217, 217, 217);
}

#welcome-user {
    align-self: center;
    margin: auto 35%;
    font-size: 35px;
    color: cadetblue;

}

#quizdiv {
    align-self: flex-start;
    flex-wrap: wrap;
    margin: 15px 25px;
    margin: auto 35%;
}

#takequiz {
    flex-wrap: wrap;
    align-self: flex-start;
    margin: 15px 15px;
}

#makequiz {
    flex-wrap: wrap;
    align-self: flex-start;
    margin: 15px 15px;
}